
{% load widget_tweaks %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TamilnaduYadava | Feed</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulma-switch.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>

</head>
<body style="background:none">
	<!-- Header -->
	<div class="header">
		<section class="is-fullhd">
			<nav class="navbar has-padding-left-20 has-padding-right-20" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="{% url 'home' %}">
						<p class="is-size-3 is-size-4-mobile has-text-primary">TamilnaduYadava</p>
					</a>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">

					</div>

					<div class="navbar-end">
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Help
							</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="{% url 'about_us' %}">
									About Us
								</a>
								<a class="navbar-item" href="{% url 'privacy_policy' %}">
									Privacy Policy
								</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								<strong>Hi, {{request.user.name}}</strong>
								<figure class="image is-32x32">
									{% if profile_image %}
									<img src="{{profile_image.file.url}}" class="is-rounded" style="width:32px !important;height:32px !important;margin-left:5px">
									{% else %}
									<img src="{% static 'img/default-avatar.png' %}" class="is-rounded" style="width:32px !important;height:32px !important;margin-left:5px">
									{% endif %}

								</figure>
							</a>

							<div class="navbar-dropdown">
								<span class="is-size-7 has-text-light navbar-item is-block has-background-dark" >{{profile.user.m_id}}</span>
								<a class="navbar-item" href="{% url 'manage_profile' %}">
									Manage Profile
								</a>
								<a class="navbar-item" href="{% url 'logout' %}">
									Log out
								</a>
							</div>
							
						</div>	
					</div>
				</div>
			</nav>
		</section>
	</div>

	<!-- Content Container -->
	<section class="section">
		<div class="columns is-variable">
			<!-- LEFT COLUMN-->
			<div class="column is-3 has-padding-10">
				<div class="card">
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-64x64">
									{% if profile_image %}
									<img src="{{profile_image.file.url}}" class="is-rounded" style="width:64px !important;height:64px !important;">
									{% else %}
									<img src="{% static 'img/default-avatar.png' %}" class="is-rounded" style="width:64px !important;height:64px !important;">
									{% endif %}
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">{{ request.user.name }}<br><span class="tag is-dark">{{request.user.m_id}}</span></p>
								<p class="subtitle is-6"><a href="{% url 'manage_profile' %}">Edit profile</a></p>
							</div>
						</div>

						<div class="content">
							<span class="tag is-light">
								<i class="fa fa-check"></i> &nbsp;Verified
							</span>
						</div>
					</div>
				</div>
				{% if preference %}
				<nav class="panel has-margin-top-10 is-size-7">
					<p class="panel-heading is-clearfix is-block has-text-white has-background-dark">
						Preferences
						<label class="switch is-pulled-right">
							<input id="preference" type="checkbox" data-exist=true>
							<span class="slider round"></span>
						</label>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_age">
						<strong>Age</strong>(in years)
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="age-range-slider" name="my_range" value="" data-grid=true data-min="18" data-max="45" data-from='{{preference.age | slice:":2"}}' data-to='{{preference.age | slice:"3:"}}' />
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_height">
						<strong>Height</strong>(in cm)
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="height-range-slider" name="my_range" value="" data-type='double' data-grid=true data-min="150" data-max="200" data-from='{{preference.height | slice:":3"}}' data-to='{{preference.height | slice:"4:"}}' />
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_salary">
						<strong>Salary</strong>(in LPA)
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="salary-range-slider" name="my_range" value="" data-grid=true data-prefered='{{preference.salary}}'/>
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_education">
						<strong>Education</strong>
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							
							{% if 'Secondary' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Secondary" checked>Secondary</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Secondary">Secondary</label><br>
							{% endif %}

							{% if 'Higher Secondary' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Higher Secondary" checked>Higher Secondary</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Higher Secondary" >Higher Secondary</label><br>
							{% endif %}
							
							{% if 'Under Graduate' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Under Graduate" checked>Under Graduate</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Under Graduate">Under Graduate</label><br>
							{% endif %}
							
							{% if 'Post Graduate' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Post Graduate" checked>Post Graduate</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Post Graduate">Post Graduate</label><br>
							{% endif %}
							
							{% if 'Ph.D' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Ph.D" checked>Ph.D</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Ph.D">Ph.D</label><br>
							{% endif %}
							
							{% if 'Self Taught' in education %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Self Taught" checked>Self Taught</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Self Taught">Self Taught</label><br>
							{% endif %}

						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_complexion">
						<strong>Complexion</strong>
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							{% if 'Very Fair' in complexion %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Very Fair" checked>Very Fair</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Very Fair">Very Fair</label><br>
							{% endif %}

							{% if 'Fair' in complexion %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Fair" checked>Fair</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Fair">Fair</label><br>
							{% endif %}
							
							{% if 'Wheatish Brown' in complexion %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Wheatish Brown" checked>Wheatish Brown</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Wheatish Brown">Wheatish Brown</label><br>
							{% endif %}

							{% if 'Dark' in complexion %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Dark" checked>Dark</label><br>
							{% else %}
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Dark">Dark</label><br>
							{% endif %}
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_marriedStatus">
						Married Status
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="married-range-slider" name="my_range" value="" data-grid=true data-prefered='{{preference.married}}'/>
						</div>
					</p>
					<p class="panel_child is-clearfix has-padding-20" style="border: 1px solid #dadada;">
						<button class=" button is-outlined is-primary is-pulled-right" id="save-preference">Save Preferences</button>
					</p>
				</nav>
				{% else %}
				<nav class="panel has-margin-top-10">
					<p class="panel-heading is-clearfix is-block has-text-white has-background-dark">
						Preferences
						<label class="switch is-pulled-right">
							<input id="preference" type="checkbox" data-exist=false>
							<span class="slider round"></span>
						</label>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_age">
						Age
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="age-range-slider" name="my_range" value="" data-grid=true data-min="18" data-max="45" data-from='25' data-to='30'/>
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_height">
						Height
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="height-range-slider" name="my_range" value="" data-grid=true data-min="150" data-max="200" data-from="160" />
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_salary">
						Salary
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="salary-range-slider" name="my_range" value="" data-grid=true data-prefered='{{preference.salary}}'/>
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_education">
						Education
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Secondary">Secondary</label><br>
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Higher Secondary">Higher Secondary</label><br>
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Under Graduate">Under Graduate</label><br>
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Post Graduate">Post Graduate</label><br>
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Ph.D">Ph.D</label><br>
							<label class="checkbox has-padding-left-20 "><input class="education" type="checkbox" value="Self Taught">Self Taught</label><br>
						</div>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_complexion">
						Complexion
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Very Fair">Very Fair</label><br>
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Fair">Fair</label><br>
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Wheatish Brown">Wheatish Brown</label><br>
							<label class="checkbox has-padding-left-20 "><input class="complexion" type="checkbox" value="Dark">Dark</label><br>
					</p>
					<p class="panel-heading is-clearfix panel_child" id="preference_marriedStatus">
						Married Status
						<div class="panel_child container has-padding-10" style="background-color:white;border-left: 1px solid #dadada;border-right: 1px solid #dadada">
							<input type="text" class="married-range-slider" name="my_range" value="" data-prefered='{{preference.married}}'/>
						</div>
					</p>
					<p class="panel_child is-clearfix has-padding-20" style="border: 1px solid #dadada;">
						<button class=" button is-outlined is-primary is-pulled-right" id="save-preference">Save Preferences</button>
					</p>
				</nav>
				{% endif %}
			</div>

			<!--MID COLUMN-->
			<div class="column is-6 has-padding-10">
				<div>
					<div>
						<p class="has-margin-left-10 has-margin-top-20 has-text-grey">Sort by</p>
						<div class="select sort-by">
							<select data-attribute="age">
								<option selected disabled>Age</option>
								<option>Ascending</option>
								<option>Descending</option>
							</select>
						</div>
						<div class="select sort-by">
							<select data-attribute="name">
								<option selected disabled>Name</option>
								<option>Ascending</option>
								<option>Descending</option>
							</select>
						</div>
						<div class="dropdown">
							<div class="dropdown-trigger">
								<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
									<span>Rasi</span>
									<span class="icon is-small">
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu" role="menu">
								<div class="dropdown-content">
									<a href="{% url 'sort_by' key='rasi' value='Mesham' %}" class="dropdown-item" >Mesham</a>
									<a href="{% url 'sort_by' key='rasi' value='Rishabam' %}" class="dropdown-item" >Rishabam</a>
									<a href="{% url 'sort_by' key='rasi' value='Mithunam' %}" class="dropdown-item" > Mithunam </a>
									<a href="{% url 'sort_by' key='rasi' value='Kadakam' %}" class="dropdown-item" > Kadakam </a>
									<a href="{% url 'sort_by' key='rasi' value='Simham' %}" class="dropdown-item" > Simham </a>
									<a href="{% url 'sort_by' key='rasi' value='Kanni' %}" class="dropdown-item" > Kanni </a>
									<a href="{% url 'sort_by' key='rasi' value='Tulam' %}" class="dropdown-item" > Tulam </a>
									<a href="{% url 'sort_by' key='rasi' value='Vrischikam' %}" class="dropdown-item" > Vrischikam </a>
									<a href="{% url 'sort_by' key='rasi' value='Dhanusu' %}" class="dropdown-item" > Dhanusu </a>
									<a href="{% url 'sort_by' key='rasi' value='Makaram' %}" class="dropdown-item" > Makaram </a>
									<a href="{% url 'sort_by' key='rasi' value='Kumbham' %}" class="dropdown-item" > Kumbham </a>
									<a href="{% url 'sort_by' key='rasi' value='Meenam' %}" class="dropdown-item" > Meenam </a>
								</div>
							</div>
						</div>
						<div class="dropdown">
							<div class="dropdown-trigger">
								<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
									<span>Nakshatra</span>
									<span class="icon is-small">
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu" role="menu">
								<div class="dropdown-content">
									<a href="{% url 'sort_by' key='nakshatra' value='Aswini' %}" class="dropdown-item" >Aswini</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Bharani' %}" class="dropdown-item" >Bharani</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Karthigai' %}" class="dropdown-item" >Karthigai</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Rohini' %}" class="dropdown-item" >Rohini</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Mrigasheersham' %}" class="dropdown-item" >Mrigasheersham</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Thiruvaathirai' %}" class="dropdown-item" >Thiruvaathirai</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Punarpoosam' %}" class="dropdown-item" >Punarpoosam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Poosam' %}" class="dropdown-item" >Poosam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Aayilyam' %}" class="dropdown-item" >Aayilyam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Makam' %}" class="dropdown-item" >Makam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Pooram' %}" class="dropdown-item" >Pooram</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Uthiram' %}" class="dropdown-item" >Uthiram</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Hastham' %}" class="dropdown-item" >Hastham</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Chithirai' %}" class="dropdown-item" >Chithirai</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Swaathi' %}" class="dropdown-item" >Swaathi</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Visaakam' %}" class="dropdown-item" >Visaakam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Anusham' %}" class="dropdown-item" >Anusham</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Kettai' %}" class="dropdown-item" >Kettai</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Moolam' %}" class="dropdown-item" >Moolam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Pooraadam' %}" class="dropdown-item" >Pooraadam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Uthiraadam' %}" class="dropdown-item" >Uthiraadam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Thiruvonam' %}" class="dropdown-item" >Thiruvonam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Avittam' %}" class="dropdown-item" >Avittam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Sadayam' %}" class="dropdown-item" >Sadayam</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Poorattathi' %}" class="dropdown-item" >Poorattathi</a>
									<a href="{% url 'sort_by' key='nakshatra' value='>Uthirattathi' %}" class="dropdown-item" >Uthirattathi</a>
									<a href="{% url 'sort_by' key='nakshatra' value='Revathi' %}" class="dropdown-item" >Revathi</a>
								</div>
							</div>
						</div>
						<div class="button is-danger is-small has-margin-5" style="border-radius: 10px"><a href="{% url 'feed' %}" class=" has-text-white">Reset Filters</a></div>
					</div>
				</div>

				<!--PROFILES-->
				<div class="profiles container has-margin-top-10 is-block has-background-white has-padding-10">
					<p class="is-size-4 has-text-grey has-padding-10">Profiles</p>
					{% for sp in show_profiles %}
					<article class="articles media has-border-top-1 has-padding-10" data-age={{sp.user.age}} data-name={{sp.user.name}} data-rasi={{sp.rasi}} data-nakshatra={{sp.nakshatra}}>
						<figure class="media-left">
							<figure class="image is-128x128">
								{% if sp.profileimage_set.all %}
								{% for image in sp.profileimage_set.all %}
								{% if forloop.first %}
								<img src="{{image.file.url}}" class="is-rounded" style="width:128px !important;height:128px !important;">
								{%endif%}	
								{% endfor %}
								{% else %}
								<img src="{% static 'img/default-avatar.png' %}" class="is-rounded" style="width:128px !important;height:128px !important;">
								{% endif %}
							</figure>
						</figure>
						<div class="media-content">
							<div class="content">
								<p>
									<strong>{{sp.user.name}}</strong> <small><a href="{% url 'view_profile' id=sp.user.id %}">View profile</a></small>
									<br>
									<span class="tag is-dark is-size-7">{{sp.user.m_id}}</span><br>
									<span class="is-size-7 has-text-grey"><i class="fa fa-map-marker"></i> &nbsp;{{ sp.city }}</span><br>
									<span class="is-size-7 has-text-grey">Joined {{sp.user.date_joined | date:"d M, Y"}}</span><br>
									{{sp.user.age}} yrs, {{sp.height}}cm, {{sp.religion}}, {{sp.caste}}, {{sp.subcaste}}<br> {{sp.rasi}}, {{sp.nakshatra}}<br> 
									{{sp.degree}}<br> 
									<a href="{% url 'view_profile' id=sp.user.id %}">view more</a>
								</p>
							</div>
						</div>
					</article>
					{% endfor %}
				</div>

				{% if show_profiles.has_other_pages %}
				<nav class="pagination is-rounded is-small has-margin-top-20" role="navigation" aria-label="pagination">
					{% if show_profiles.has_previous %}
					<a class="pagination-previous" href="?page={{ show_profiles.previous_page_number }}">Previous</a>
					{% else %}
					<a class="pagination-previous" disabled>Previous</a>
					{% endif %}

					<ul class="pagination-list">
						{% for i in show_profiles.paginator.page_range %}
						{% if show_profiles.number == i %}
						<li>
							<a class="pagination-link is-current" aria-current="page">{{ i }}</a>
						</li>
						{% else %}
						<li>
							<a class="pagination-link"  href="?page={{ i }}" >{{ i }}</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>

					{% if show_profiles.has_next %}
					<a class="pagination-next" href="?page={{ show_profiles.next_page_number }}">Next</a>
					{% else %}
					<a class="pagination-next" disabled>Next</a>
					{% endif %}
				</nav>
				{% endif %}
			</div>

			<!--RIGHT COLUMN-->
			<div class="column is-3 has-padding-10">
				<div class="container has-margin-top-10 is-block has-background-primary has-padding-10"  style="box-shadow: 2px 2px 5px;border-radius: 5px">
					<p class="is-size-4 has-text-light">Latest Profiles</p>
					{% if latest_profiles %}
					{% for profile in latest_profiles %}
					<div class="card" data-rasi='{{profile.rasi}}' data-nakshatra='{{profile.nakshatra}}'>
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<figure class="image is-64x64">
										{% if sp.profileimage_set.all %}
										{% for image in sp.profileimage_set.all %}
										{% if forloop.first %}
										<img src="{{image.file.url}}" class="is-rounded" style="width:64px !important;height:64px !important;">
										{%endif%}	
										{% endfor %}
										{% else %}
										<img src="{% static 'img/default-avatar.png' %}" class="is-rounded" style="width:64px !important;height:64px !important;">
										{% endif %}
									</figure>
								</div>
								<div class="media-content">
									<p class="is-5"><strong>{{profile.user.name}}</strong></p>
									<p class="tag is-dark">{{profile.user.m_id}}</p>
									<p class="subtitle is-7">{{profile.user.age}} yrs, {{profile.height}}cm, {{profile.religion}}, {{profile.caste}}, {{profile.subcaste}}<br>
										{{profile.rasi}}, {{profile.nakshatra}}<br><a href="{% url 'view_profile' id=profile.user.id %}">view profile</a></p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% else %}
						<p class="has-text-grey"> No profiles yet, stay tuned</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Footer-->
	<section class="section is-block has-background-dark has-margin-top-40 has-padding-20" style="bottom: 0">
		<div class="container has-text-centered has-text-white">
			<p class="is-size-5">TamilnaduYadava</p>
			<p><a href="{% url 'about_us' %}" class="has-text-white">About us</a> | <a href="{% url 'privacy_policy' %}" class="has-text-white">Privacy Policy</a> </p>
			<p class="is-size-7 has-text-light"><a href="https://github.com/jayantamadhav" target="_blank" class="has-text-light">Developed by JM</a></p>
		</div>
	</section>

	<script>
		$(document).ready( function(){
			//Check if preference exists
			if($('#preference').data('exist') == true){
				$("#preference").prop('checked', true);
			}
			else{
				$("#preference").prop('checked', false);
			}
			if($('#preference').prop('checked')==true){
				$('.panel_child').show();
			}
			else{
				$('.panel_child').hide();
			}
			$('#preference').on('click', function(){
				$('.panel_child').slideToggle(500);
			});
			//Initializations
			var salaryValues = ['Below 5 LPA', '5-10 LPA', '10-15 LPA', 'Above 15 LPA'];
			var educationValues = ['Secondary', 'Higher Secondary', 'Under Graduate', 'Post Graduate', 'Ph.D', 'Self Taught']
			var complexionValues = ['Very Fair', 'Fair', 'Wheatish Brown', 'Dark']
			var marriedValues = ['Not married', 'Divorced', 'Widow', 'Other reason']

			var prefered_salary = $('.salary-range-slider').data('prefered');
			$('.salary-range-slider').data('from', salaryValues.indexOf(prefered_salary));

			var prefered_complexion = $('.complexion-range-slider').data('prefered');
			$('.complexion-range-slider').data('from', complexionValues.indexOf(prefered_complexion));

			var prefered_married = $('.married-range-slider').data('prefered');
			$('.married-range-slider').data('from', marriedValues.indexOf(prefered_married));
			
			//Age
			$(".age-range-slider").ionRangeSlider({
				skin: "round",
				type:'double'
			});
			//Height
			$(".height-range-slider").ionRangeSlider({
				skin: "round",
				type:'double'
			});
			//Salary
			$(".salary-range-slider").ionRangeSlider({
				skin: "round",
				values: salaryValues,
				from: 1
			});
			//Complexion
			$(".complexion-range-slider").ionRangeSlider({
				skin: "round",
				values: complexionValues,
				from: 1
			});
			//Married
			$(".married-range-slider").ionRangeSlider({
				skin: "round",
				values: marriedValues,
				from: 0
			});
			//save prefernce
			$('#save-preference').on('click', function(){
				var education_options = '';
				var complexion_options = '';
				$('.education:checked').map(function(_, el) {
					education_options += ',' + $(el).val();
				}).get();
				$('.complexion:checked').map(function(_, el) {
					complexion_options += ',' + $(el).val();
				}).get();
				var age = $(".age-range-slider").val();
				var height = $(".height-range-slider").val();
				var salary = $(".salary-range-slider").val();
				var married = $(".married-range-slider").val();
				$.ajax(
				{
					type: "POST",
					async: "true",
					cache:"false",
					url: 'update_preference',
					data: {
						csrfmiddlewaretoken: '{{ csrf_token }}',
						'age' : age,
						'height' : height,
						'salary' : salary,
						'married' : married,
						'education' : education_options,
						'complexion' : complexion_options
					},
					success: function(data){
						alert('Preference Saved');
						window.location.reload();
					},
					error:function(data){
						alert("error");
					}
				})
			});

			//Sort
			$('.sort-by').on('change', function(){
				var key = $('select', this).val();
				var attribute = $('select', this).attr('data-attribute');

				if(attribute == 'age'){
					if(key == 'Ascending'){
						$(".profiles article").sort(sort_li).appendTo('.profiles');
						function sort_li(a, b) {
							return ($(b).data('age')) < ($(a).data('age')) ? 1 : -1;
						}
					}
					else{
						$(".profiles article").sort(sort_li).appendTo('.profiles');
						function sort_li(a, b) {
							return ($(b).data('age')) > ($(a).data('age')) ? 1 : -1;
						}
					}
				}
				else{
					if(key == 'Ascending'){
						$(".profiles article").sort(sort_li).appendTo('.profiles');
						function sort_li(a, b) {
							return ($(b).data('name')) < ($(a).data('name')) ? 1 : -1;
						}
					}
					else{
						$(".profiles article").sort(sort_li).appendTo('.profiles');
						function sort_li(a, b) {
							return ($(b).data('name')) > ($(a).data('name')) ? 1 : -1;
						}
					}
				}
			});
		});
	</script>
</body>
</html>