{% load widget_tweaks %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TamilnaduYadava | Password Reset</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="section" style="min-height:100vh">
		<div class="has-text-centered">
			<p class="is-size-1 is-size-3-mobile"><a href="{% url 'home' %}" class=" has-text-white">TamilnaduYadava</a></p>
		</div>
		<div class="container is-block has-background-white has-margin-top-100 has-padding-30" style="margin:auto; max-width:500px;border-radius: 5px;box-shadow: 5px 5px  25px #000">
			<p class="is-size-4">Enter your registered email address and if we find it in our records, we'll send a password reset link after which you can set a new password</p><br>
			<form method="post">
				{% csrf_token %}
				{% render_field form.email class="input" placeholder="enter your email " %}
				<br><br>
				<button type="submit" class="button is-primary">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>