{% load widget_tweaks %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TamilnaduYadava | Register</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="section" style="min-height:100vh">
		<div class="has-text-centered">
			<p class="is-size-1 is-size-3-mobile"><a href="{% url 'home' %}" class=" has-text-white">TamilnaduYadava</a></p>
		</div>
		<div class="is-block has-background-white has-margin-top-100 has-padding-30" style="margin:auto; max-width: 500px; border-radius: 5px;box-shadow: 5px 5px  25px #000">
			<p class="has-text-centered is-size-5">
				<strong>Let's set up your account,<br>
				while we find Matches for you!</strong>
			</p>
			<form class="has-margin-top-10" id="register-form" method="post" autocomplete="off" >
				{% csrf_token %}

				{% if form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
					{% for error in form.non_field_errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}

				<div class="field">
					<label class="label">Enter your email id</label>
					<div class="control">
						{% render_field registration_form.email type="email" class="input" placeholder="Enter email id"%}
					</div>
					{% if registration_form.email.errors %}
					<p class="help is-danger">{{ registration_form.email.errors }}</p>
					{% endif %}
				</div>

				<div class="field">
					<label class="label">Username</label>
					<div class="control">
						{% render_field registration_form.username type="text" class="input" placeholder="Enter username"%}
					</div>
					{% if registration_form.username.errors %}
					<p class="help is-danger">{{ registration_form.username.errors }}</p>
					{% endif %}
				</div>

				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">Create Password</label>
							<div class="control">
								{% render_field registration_form.password1 type="password" class="input" placeholder="Create password" %}
							</div>
							{% if registration_form.password1.errors %}
							<p class="help is-danger">{{ registration_form.password1.errors }}</p>
							{% endif %}
						</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label">Confirm Password</label>
							<div class="control">
								{% render_field registration_form.password2 type="password" class="input" placeholder="Confirm password" %}
							</div>
							{% if registration_form.password2.errors %}
							<p class="help is-danger">{{ registration_form.password2.errors }}</p>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="field">
					<label class="label">Name</label>
					<div class="control">
						{% render_field registration_form.name type="text" class="input" placeholder="Name"%}
					</div>
					{% if registration_form.name.errors %}
					<p class="help is-danger">{{ registration_form.name.errors }}</p>
					{% endif %}
				</div>

				<div class="field has-addons">
					<p class="control">
						<a class="button is-static">
							+91
						</a>
					</p>
					<div class="control is-expanded">
						{% render_field registration_form.phone type="tel" class="input numbers" placeholder="Phone Number" %}
					</div>
					{% if registration_form.phone.errors %}
					<p class="help is-danger">{{ registration_form.phone.errors }}</p>
					{% endif %}					
				</div>

				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">Gender</label>
							<div class="control">
								{% render_field registration_form.gender class="input" placeholder="Gender" %}
							</div>
							{% if registration_form.gender.errors %}
							<p class="help is-danger">{{registration_form.gender.errors}}</p>
							{% endif %}
						</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label">D.O.B</label>
							<div class="control">
								{% render_field registration_form.dob id="datepicker" class="input" autocomplete="anyrandominvalidvalue" type="text" name="date" placeholder="Pick a Date" %}
							</div>
							{% if registration_form.dob.errors %}
							<p class="help is-danger">{{ registration_form.dob.errors }}</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="has-text-centered">
					<div>{% render_field registration_form.captcha id="g_recaptcha_response" %}<p id="captcha-error"></p></div>
					{% if registration_form.captcha %}
					<p class="help is-danger">{{ registration_form.captcha.errors }}</p>
					{% endif %}
					<label class="checkbox has-margin-top-30">
						<input type="checkbox" required>
						By registering you agree to the <a href="{% url 'privacy_policy_external'%}">Terms &amp; Conditions</a> and <a href="{% url 'privacy_policy_external'%}">Privacy Policy</a>
					</label>
					<div class="has-text-centered has-margin-top-20">
						<button type="submit" class="button is-large is-primary">Proceed</button>
					</div>
				</div>
			</form>
		</div>
		<div class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<!-- Any other Bulma elements you want -->
				<div class="container is-block has-background-white has-padding-20 has-margin-5" style="border-radius: 5px">
					<p class="is-size-4"><Strong>Profile is Minor</Strong></p><br>
					<div class="control" id="modal-control">
						<p class="minor-error"></p>
					</div>
					<div class="has-text-right has-margin-top-30">
						<button class="button is-outlined is-danger" id="close">Back</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$('#register-form').submit(function(event){
				var gender = $('#id_gender').val();
				var year = $('#datepicker').val();
				var age = (new Date).getFullYear() - parseInt(year.substr(year.length - 4));
				if (gender == 'M' && age < 21){
					$('.modal').addClass('is-active');
					$('.minor-error').html('Men below age 21 are considered minor and are not allowed to create profile.');
				}
				else if(gender == 'F' && age < 18){
					$('.modal').addClass('is-active');
					$('.minor-error').html('Ladies below age 18 are considered minor and are not allowed to create profile');
				}
				else{
					$(this).submit();
				}
				event.preventDefault();
			});
			$(function () {
				var currentYear = (new Date).getFullYear();
				var end_date = "01/01/"+ (currentYear-18).toString();
				$("#datepicker").datepicker({
					endDate: end_date,
					format: "dd/mm/yyyy",
					autoHide: true
				});
			});
			$('.numbers').keypress(function(key) {
				if(key.charCode < 48 || key.charCode > 57) return false;
				if($(this).val().length > 9) return false;
			});
		});
	</script>
</body>
</html>